html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: inherit;
	&:before {
		box-sizing: inherit;
	}
	&:after {
		box-sizing: inherit;
	}
}

body {
  font-family: "TT Lakes", sans-serif;
	background-color: $bg-color-1;
  color: $text-color-1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  min-height: max-content;
}
@media (min-width: 1440px) {
  body {
    flex-direction: row;
  }
}

.main {
  overflow-y: hidden;
}

.overlay--active {
  z-index: 1;
  background-color: $bg-color-2;
  opacity: 0.96;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.container {
	margin: 0 auto;
	width: 90%;
}

li {
	list-style: none;
}
a {
	text-decoration: none;
}
button {
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}
