@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.woff') format('woff');
}

@font-face {
  font-family: 'TT Lakes';
  font-weight: 500;
  src: url('../fonts/TTLakes-Medium.woff') format('woff');
}

@font-face {
  font-family: 'TT Lakes';
  font-weight: 700;
  src: url('../fonts/TTLakes-Bold.woff') format('woff');
}

$bg-color-1: #f8f8f8;
$bg-color-2: #FFFFFF;
$bg-color-3: #FF3E79;

$text-color-1: #1b1c21;
$text-color-2: #7e7e82;

$deco-element-1: #41f6d7;
$deco-element-divider: #eaeaea;
$deco-element-outline: #b8ffec;
$deco-element-border: #d9fff5;

$shadow-1: rgba(14, 24, 80, 0.2);
$shadow-2: rgba(69, 79, 126, 0.02);
